<div class="container">
  <div class="image" nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="16" nzXl="16">
    <img src="/assets/images/wallpaper.png" alt="Móveis Cariutaba" />
  </div>
  <div class="formulary" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <h1>Bem-vindo!</h1>
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
      nzLayout="vertical"
    >
      <nz-form-item>
        <nz-form-label nzFor="email">E-mail</nz-form-label>
        <nz-form-control nzErrorTip="Por favor informe seu e-mail!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="seuemail@email.com"
              nzSize="large"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="password">Senha</nz-form-label>
        <nz-form-control nzErrorTip="Por favor informe sua senha!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="sua senha"
              nzSize="large"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <!-- <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Esqueci minha senha</a>
        </div> -->
      </div>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        [disabled]="!validateForm.valid"
      >
        Entrar
      </button>
    </form>
    <small>Móveis Cariutaba © {{ year }}</small>
  </div>
</div>
